/* Estilos principales de la aplicación */
.App {
  display: flex; /* Diseño flexible para organizar los elementos */
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: space-between; /* Espacia los elementos dentro del contenedor */
  min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  background-color: #282c34; /* Color de fondo oscuro */
}

